body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: grid;
    grid-template-columns: 1000px 500px;
    background-color: darkslategrey;
    color: white;
    height: 120px;

}

.left{
   padding-left: 180px;
}
li{
    list-style: none;
    padding: 10px;
}

.right{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    
    
}

.main{
    display: grid;
    grid-template-columns: 400px 300px ;
    background-color: darkslategrey;
    color: white;
    padding: 5px;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.left-side-main{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.web{
    font-size: 40px;
    width: 250px;
    height: 70px;
    margin-right: 20px;;

}

.subtext{
    width: 400px;
    height: 70px;
    margin: 0%;
    margin-right: 50px;

}
.signup{
    background-color: rgb(3, 122, 169);
    color: white;
    width: 100px;
    height: 40px;
    padding: 5px;
    border-style: solid;
    border-radius: 8px;
}

.place{
    background-color: lightgray;
    width: 120px;
    height: 60px;
    padding-left: 120px;
    padding-right: 120px;
    padding:70px;
    padding-left: 150px;
    padding-right: 150px;
    margin-right: 50px;
    margin-left: 300px;
    margin-top: 5px;
}

.boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 40px;
    justify-items: center;  
    justify-content: center; 
}

.box1{
    border-radius: 5px;
    width: 180px;
    height: 220px;

}
.box2{
    border-radius: 5px;
    width: 180px;
    height: 220px;

}
.box3{
    border-radius: 5px;
    width: 180px;
    height: 220px;

}
.box4{
    border-radius: 5px;
    width: 180px;
    height: 220px;
}
.bord{
    border: 3px solid blue;
    border-radius: 5px;
    width: 120px;
    height: 150px;
}

.bord-text{
    width: 150px;
    height: 30px;
}
.quote{
    background-color: lightgrey;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
    letter-spacing: 1px;
    margin-bottom: 30px; 
    margin-top: 30px; 

}

.author{
    display: flex;
    justify-content: flex-end;
}

.last-box{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 800px;
    background-color: lightblue;
    margin-left: 300px;
    margin-right: 80px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 100px;
}

.call{
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 0;
}

.msg{
    font-size: 12px;
    margin-left: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    width: 350px;
}

.insign{
    background-color: blue;
    color: white;
    width: 80px;
    height: 30px;
    padding: 5px;;
    border-style: solid;
    border-radius: 8px;
    justify-self: end;
    align-self: center;
    margin: 0 10px 0 0;
}

footer{
    background-color: darkslategrey;
    margin-top: 15px;
    height: 80px;
    color: white;
    text-align: center;
    padding-top: 30px;
}